body {
    background-color:#070c2e;
}

.menu {
    margin: auto;
    width:30%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:#101b61;
    color: lightgrey;
}

.cubo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }